p {
  font-family: Roboto;
}

mat-card {
  width: 300px;
  background-color: #f5fcc1;
}

.loading-spinner {
  width: 300px;
  align-content: center;
}

mat-spinner {
  margin: 0 auto;
}

.loading-text {
  margin-top: 10px;
  text-align: center;
}