<div class="container" [hidden]="!isLoading" *ngIf="serverIsUp">
  <div class="loading-spinner">
    <mat-spinner></mat-spinner>
    <p class="loading-text">Kis türelmet.<br> Az oldal hamarosan betöltődik.</p>
  </div>
</div>
<div fxLayout="row" [hidden]="isLoading" *ngIf="serverIsUp">
  <router-outlet></router-outlet>
</div>
<div class="container" *ngIf="!serverIsUp">
  <mat-card>
    <app-server-down></app-server-down>
  </mat-card>
</div>
<div class="footer">
  <app-footer></app-footer>
</div>